//文字響應式
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

.main-overlay::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}
