<footer class="footer bg-nature-20">
	<div class="container px-lg-20">
		<div
			class="d-flex flex-lg-row flex-column-reverse justify-content-between py-8"
		>
			<div class="d-flex flex-column align-items-center px-0">
				<img
					src="../assets/images/logo/Logo-Type.svg"
					alt="logo"
					class="mb-10 mb-lg-3"
				/>
				<p class="text-white fs-Caption m-0">
					Cpyright@ 2024 密室搜搜 -All Right Reserved
				</p>
			</div>
			<div class="">
				<ul class="d-flex flex-lg-row flex-column justify-content-lg-end gap-6 p-0 mb-10 mb-lg-0">
					<li>
						<div class="text-center px-xl-10">
							<h6 class="text-white fs-h6 mb-6">主要功能</h6>
							<div>
								<a href="#" class="mb-3 link-white fs-Body-2"
									>找遊戲</a
								>
								<a href="#" class="link-white fs-Body-2"
									>密室排行榜</a
								>
							</div>
						</div>
					</li>
					<li>
						<div class="text-center px-xl-10">
							<h6 class="text-white fs-h6 mb-6">關於密室搜搜</h6>
							<div>
								<a href="#" class="mb-3 link-white fs-Body-2"
									>關於密室搜搜</a
								>
								<a href="#" class="mb-3 link-white fs-Body-2"
									>服務條款</a
								>
								<a href="#" class="link-white fs-Body-2"
									>隱私權政策</a
								>
							</div>
						</div>
					</li>
					<li>
						<div class="text-center px-xl-10">
							<h6 class="text-white fs-h6 mb-6">追蹤我們</h6>
							<a href="#"
								><img
									src="../assets/images/icon/fb-white.png"
									alt="fb"
							/></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
