<footer class="footer bg-nature-20">
  <div class="container">
    <div
      class="d-flex flex-lg-row flex-column-reverse justify-content-between py-8"
    >
      <div
        class="d-flex flex-column align-items-center align-items-lg-start px-0"
      >
        <a href="index.html">
          <img
            src="../assets/images/logo/Logo-Type.svg"
            alt="logo"
            class="mb-10 mb-lg-3"
          />
        </a>
        <p class="text-white fs-Caption m-0">
          Cpyright@ 2024 密室搜搜 -All Right Reserved
        </p>
      </div>
      <ul
        class="d-flex flex-lg-row flex-column justify-content-lg-end gap-6 p-0 mb-10 mb-lg-0"
      >
        <li class="text-center px-lg-10 px-xl-15">
          <h6 class="text-white fs-h6 mb-6">主要功能</h6>
          <div class="fw-bold">
            <a href="search.html" class="mb-3 link-white fs-Body-2">找遊戲</a>
            <a href="ranking-list.html" class="link-white fs-Body-2"
              >密室排行榜</a
            >
          </div>
        </li>
        <li class="text-center px-lg-10 px-xl-15">
          <h6 class="text-white fs-h6 mb-6">關於密室搜搜</h6>
          <div class="fw-bold">
            <a href="about.html#about-us" class="mb-3 link-white fs-Body-2"
              >關於密室搜搜</a
            >
            <a
              href="about.html#terms-of-service"
              class="mb-3 link-white fs-Body-2"
              >服務條款</a
            >
            <a href="about.html#privacy-policy" class="link-white fs-Body-2"
              >隱私權政策</a
            >
          </div>
        </li>
        <li class="text-center px-lg-10 px-xl-15">
          <h6 class="text-white fs-h6 mb-6">追蹤我們</h6>
          <div class="d-flex justify-content-center gap-2">
            <a href="https://www.facebook.com/">
              <img class="social_icon" src="/assets/images/icon/fb.svg" alt="fb" />
            </a>
            <a href="https://www.instagram.com/">
              <img class="social_icon" src="/assets/images/icon/ig.png" alt="ig" />
            </a>
            <a href="https://www.facebook.com/">
              <img class="social_icon" src="../assets/images/icon/email.png" alt="mail" />
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
