<nav class="navbar navbar-expand-lg">
	<div class="container-fluid container-lg flex-lg-row flex-row-reverse">
		<a class="navbar-brand" href="#">
			<picture>
				<source
					media="(min-width: 992px)"
					srcset="../assets/images/logo/Logo-Type.svg" />
				<img
					src="../assets/images/logo/Logo-Type-sm.svg"
					alt="logo"
					class="w-100" />
			</picture>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse justify-content-lg-end"
			id="navbarSupportedContent">
			<ul class="navbar-nav text-center gap-lg-10">
				<li class="nav-item">
					<a
						class="nav-link fs-h6 fw-bold link-primary-black nav-link-bg"
						href="#"
						>找遊戲</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link fs-h6 fw-bold link-primary-black nav-link-bg"
						href="#"
						>密室排行榜</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link fs-h6 fw-bold link-primary-black nav-link-bg"
						href="#"
						>登入/註冊</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
