<nav class="navbar navbar-expand-lg w-100 bg-primary-99 position-fixed top-0 start-0 d-lg-flex justify-content-between">
    <div class="nav-box container d-lg-none d-flex flex-row justify-content-between align-items-center">
        <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand m-0 d-inline" href="#">
            <img src="../assets/images/logo/Logo-Type-sm.svg" alt="logo" class="" />
        </a>
    </div>
    <div class="container-lg px-0 px-lg-3">
        <div class="collapse navbar-collapse d-lg-flex justify-content-between" id="navbarSupportedContent">
            <a class="m-0 d-none d-lg-inline" href="index.html">
                <img src="/assets/images/logo/Logo-Type.svg" alt="logo-lg" />
            </a>
            <ul class="navbar-nav text-center gap-lg-10 bg-primary-99">
                <li class="nav-item">
                    <a class="nav-link nav-link-bg px-0 py-4 fs-h6 fw-bold"
                        href="search.html">找遊戲</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-bg px-0 py-4 fs-h6 fw-bold"
                        href="ranking-list.html">密室排行榜</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-bg px-0 py-4 fs-h6 fw-bold"
                        href="sign.html">登入/註冊</a>
                </li>
            </ul>
        </div>
    </div>
</nav>