<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="container">
        <!--banner-->
            <div class="index-banner d-flex flex-column">
                <picture>
                    <img src="../assets/images/illustration/Banner web up 1.png" alt="">
                </picture>
                <picture>
                    <img src="../assets/images/illustration/Banner-web-down-1.png" alt="">
                </picture>
                <div class="row flex-column align-items-center position-relative">
                    <div class="col-6">
                        <div class="index-banner-form bg-primary-95 p-12 border-primary-70 border-2 mx-auto">
                            <div class="d-flex gap-3">
                                <div class="w-50">
                                    <label for="position" class="form-label">地點</label>
                                    <select class="form-select bg-white" aria-label="Default select example" id="position">
                                        <option selected>新竹市</option>
                                        <option value="1">雲林縣</option>
                                        <option value="2">台南市</option>
                                        <option value="3">高雄市</option>
                                    </select>
                                </div>
                                <div class="w-50">
                                    <label for="memberNo" class="form-label">人數</label>
                                    <select class="form-select bg-white" aria-label="Default select example" id="memberNo">
                                        <option selected>5人</option>
                                        <option>6人</option>
                                        <option>7人</option>
                                        <option>8人</option>
                                    </select>
                                </div>                        
                            </div>
                            <label for="exampleFormControlInput1" class="form-label">搜尋</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="搜尋關鍵字">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--banner-->
        <div class="index-banner-2 d-flex align-items-center">
            <div class="container">
                <div class="d-flex flex-sm-column align-items-center">
                    <p class="mb-18 fs-h3">想找好玩的密室遊戲，但卻發現資訊分散難找</p>
                    <ul class="d-flex gap-6">
                        <li style="max-width: 306px;">
                            <img src="/assets/images/illustration/man-looking-into-distance-1.png" alt="">
                            <p>我是密室新手</p>
                            <p>想嘗試卻不知如何開始</p>
                        </li>
                        <li style="max-width: 306px;">
                            <img src="/assets/images/illustration/woman-with-a-book-1.png" alt="">
                            <p>不確定附近有哪些</p>
                            <p>密室逃脫遊戲可以體驗</p>
                        </li>
                        <li style="max-width: 306px;">
                            <img src="/assets/images/illustration/man-raising-hand-1.png" alt="">
                            <p>想找人一起玩密室遊戲</p>
                            <p>但不知道該如何尋找隊友</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="index-content-1 py-20">
            <!--index-content-1-->
            <div class="container">
                <h2 class="mb-20 text-center">密室搜搜能幫助你</h2>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="d-flex flex-row-reverse align-items-center justify-content-between mb-12">
                            <div class="">
                                <img src="/assets/images/marek-szturc.png" alt="..." class="rounded-16" style="height: 294px;width: 416px;">
                            </div>
                            <div class="">
                                <h3 class="fs-h5 mb-6">快速找到喜歡的密室遊戲</h3>
                                <p style="width: 306px;">搜尋全台各地的密室遊戲。不論是恐怖繁悚、科幻冒險還是古典懸疑，都能幫助你找到最符合你興趣的挑戰。詳細的遊戲介紹、圖片，讓你在參加前就能了解遊戲的風格和難度，為你打造前所未有的解謎體驗！</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-12">
                            <div class="">
                                <img src="/assets/images/vlad-hilitanu.png" alt="..." class="rounded-16" style="height: 294px;width: 424px;">
                            </div>
                            <div class="">
                                <h3 class="fs-h5 mb-6">快速找到喜歡的密室遊戲</h3>
                                <p style="width: 306px;">結識來自全台密室愛好者，與他們組隊挑戰各種密室遊戲。無論是第一次體驗還是經驗豐富的老手，都能找到合適的隊友，一同享受團隊合作帶來的無限樂趣與成就感！</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                            <div class="">
                                <img src="/assets/images/andrew-neel.png" alt="..." class="rounded-16" style="height: 294px;width: 416px;">
                            </div>
                            <div class="">
                                <h3 class="fs-h5 mb-6">觀看玩家評價</h3>
                                <p style="width: 306px;">瀏覽玩家提供的詳細評價和建議，了解各個密室遊戲的特色、難度和可玩性。不僅能看到評分和評論，還能看到玩家們的遊戲過程分享，確保每一次都能帶來愉快的遊戲體驗！</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <!--index-content-1-->
        </div>    
    
        
        <!--index-content-2-->
        <div class="index-content-2 bg-nature-20 py-20">
            <div class="container">
                <h2 class="text-white text-align-center d-flex justify-content-center mb-20">從驚悚到奇幻，12 種冒險領域讓你選擇！</h2>
                <div class="row justify-content-center flex-column-reverse flex-lg-row align-items-center">
                    <div class="col-lg-3 col-sm-12">
                        <img src="/assets/images/illustration/Friends-celebrating-the-New-Year-1.png" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">child_care</span>
                                    <p class="fs-lg-h6">新手入門</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">editor_choice</span>
                                    <p class="fs-lg-h6">中度玩家</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">award_star</span>
                                    <p class="fs-lg-h6">重度解謎</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">psychology_alt</span>
                                    <p class="fs-lg-h6">偵探推理</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">settings</span>
                                    <p class="fs-lg-h6">機關重重</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">two_pager</span>
                                    <p class="fs-lg-h6">劇情厲害</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">factory</span>
                                    <p class="fs-lg-h6">場景逼真</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">interactive_space</span>
                                    <p class="fs-lg-h6">互動操作</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">neurology</span>
                                    <p class="fs-lg-h6">謎題邏輯</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">mood</span>
                                    <p class="fs-lg-h6">輕鬆娛樂</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">sentiment_stressed</span>
                                    <p class="fs-lg-h6">恐怖驚悚</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="btn btn-nature-30 text-nature-99 py-6 px-8 mb-7 d-flex align-items-center justify-content-center rounded-4">
                                    <span class="material-symbols-outlined">diversity_2</span>
                                    <p class="fs-lg-h6">團隊合作</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--index-content-2-->
    <!--index-recommand-->

    <div class="index-recommand bg-nature-95 py-20">
        <div class="container">
            <h2 class="fw-bold text-center fs-8 mb-12">本月推薦</h2>
            <div class="row">
              <div class="col-3">
                <div class="d-flex flex-column bg-white rounded-10 p-5">
                  <img src="../assets/images/joanna-kosinska.png" alt="" class="rounded-7 mb-3">
                  <h3 class="card-title fw-bold fs-h6">等一個人・盜墓</h3>
                  <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                        <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                        <p>4.9</p>
                    </div>
                    <div class="d-flex">
                        <span>246</span>
                        <p>人評論</p>
                    </div>
                  </div>
                  <div class="d-flex mb-3" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                      <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                      <p>2-4人</p>
                    </div>
                    <div class="d-flex">
                        <span class="material-symbols-outlined">attach_money</span>
                        <p>每人</p>
                        <span>600元起</span>
                    </div>
                  </div>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">child_care</span>
                      <p class="fs-Body-2">新手入門</p>
                    </div>
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">factory</span>
                      <p class="fs-Body-2">場景逼真</p>
                    </div>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                    <span class="material-symbols-outlined">editor_choice</span>
                    <p class="fs-Body-2">中度玩家</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="d-flex flex-column bg-white rounded-10 p-5">
                  <img src="../assets/images/muhammad-haikal.png" alt="" class="rounded-7 mb-3">
                  <h3 class="card-title fw-bold fs-h6">咒雨</h3>
                  <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                        <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                        <p>4.9</p>
                    </div>
                    <div class="d-flex">
                        <span>219</span>
                        <p>人評論</p>
                    </div>
                  </div>
                  <div class="d-flex mb-3" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                      <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                      <p>2-4人</p>
                    </div>
                    <div class="d-flex">
                        <span class="material-symbols-outlined">attach_money</span>
                        <p>每人</p>
                        <span>700元起</span>
                    </div>
                  </div>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">child_care</span>
                      <p class="fs-Body-2">新手入門</p>
                    </div>
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">factory</span>
                      <p class="fs-Body-2">場景逼真</p>
                    </div>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                    <span class="material-symbols-outlined">factory</span>
                    <p class="fs-Body-2">場景逼真</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="d-flex flex-column bg-white rounded-10 p-5">
                  <img src="../assets/images/sergio-alves.png" alt="" class="rounded-7 mb-3">
                  <h3 class="card-title fw-bold fs-h6">利維得酒吧</h3>
                  <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                        <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                        <p>4.9</p>
                    </div>
                    <div class="d-flex">
                        <span>160</span>
                        <p>人評論</p>
                    </div>
                  </div>
                  <div class="d-flex mb-3" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                      <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                      <p>2-4人</p>
                    </div>
                    <div class="d-flex">
                        <span class="material-symbols-outlined">attach_money</span>
                        <p>每人</p>
                        <span>600元起</span>
                    </div>
                  </div>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">child_care</span>
                      <p class="fs-Body-2">新手入門</p>
                    </div>
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">factory</span>
                      <p class="fs-Body-2">場景逼真</p>
                    </div>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                    <span class="material-symbols-outlined">factory</span>
                    <p class="fs-Body-2">場景逼真</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="d-flex flex-column bg-white rounded-10 p-5">
                  <img src="../assets/images/kostiantyn-li.png" alt="" class="rounded-7 mb-3">
                  <h3 class="card-title fw-bold fs-h6">花月宴</h3>
                  <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                        <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                        <p>4.9</p>
                    </div>
                    <div class="d-flex">
                        <span>4,055</span>
                        <p>人評論</p>
                    </div>
                  </div>
                  <div class="d-flex mb-3" style="gap: 8px;">
                    <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                      <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                      <p>2-4人</p>
                    </div>
                    <div class="d-flex">
                        <span class="material-symbols-outlined">attach_money</span>
                        <p>每人</p>
                        <span>600元起</span>
                    </div>
                  </div>
                  <div class="d-flex mb-2" style="gap: 8px;">
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">child_care</span>
                      <p class="fs-Body-2">新手入門</p>
                    </div>
                    <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                      <span class="material-symbols-outlined">factory</span>
                      <p class="fs-Body-2">場景逼真</p>
                    </div>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                    <span class="material-symbols-outlined">factory</span>
                    <p class="fs-Body-2">中度玩家</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <!--index-recommand-->
    <!--index new project-->

    <div class="index-newproject bg-nature-95 py-20">
      <div class="container">
          <h2 class="fw-bold text-center fs-8 mb-12">近期新作</h2>
          <div class="row">
            <div class="col-3">
              <div class="d-flex flex-column bg-white rounded-10 p-5">
                <img src="../assets/images/muhammad-haikal.png" alt="" class="rounded-7 mb-3">
                <h3 class="card-title fw-bold fs-h6">幻影光靈：學院</h3>
                <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                      <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                      <p>4.9</p>
                  </div>
                  <div class="d-flex">
                      <span>4,055</span>
                      <p>人評價</p>
                  </div>
                </div>
                <div class="d-flex mb-3" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                    <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                    <p>2-4人</p>
                  </div>
                  <div class="d-flex">
                      <span class="material-symbols-outlined">attach_money</span>
                      <p>每人</p>
                      <span>600元起</span>
                  </div>
                </div>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">child_care</span>
                    <p class="fs-Body-2">新手入門</p>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">factory</span>
                    <p class="fs-Body-2">場景逼真</p>
                  </div>
                </div>
                <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                  <span class="material-symbols-outlined">editor_choice</span>
                  <p class="fs-Body-2">中度玩家</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="d-flex flex-column bg-white rounded-10 p-5">
                <img src="../assets/images/harry-quan.png" alt="" class="rounded-7 mb-3">
                <h3 class="card-title fw-bold fs-h6">逃兵</h3>
                <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                      <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                      <p>4.9</p>
                  </div>
                  <div class="d-flex">
                      <span>1,591</span>
                      <p>人評價</p>
                  </div>
                </div>
                <div class="d-flex mb-3" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                    <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                    <p>3-6人</p>
                  </div>
                  <div class="d-flex">
                      <span class="material-symbols-outlined">attach_money</span>
                      <p>每人</p>
                      <span>799元起</span>
                  </div>
                </div>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">child_care</span>
                    <p class="fs-Body-2">新手入門</p>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">factory</span>
                    <p class="fs-Body-2">場景逼真</p>
                  </div>
                </div>
                <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                  <span class="material-symbols-outlined">factory</span>
                  <p class="fs-Body-2">場景逼真</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="d-flex flex-column bg-white rounded-10 p-5">
                <img src="../assets/images/marek-szturc.png" alt="" class="rounded-7 mb-3">
                <h3 class="card-title fw-bold fs-h6">玄武石醫院</h3>
                <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                      <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                      <p>4.9</p>
                  </div>
                  <div class="d-flex">
                      <span>4,055</span>
                      <p>人評價</p>
                  </div>
                </div>
                <div class="d-flex mb-3" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                    <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                    <p>2-4人</p>
                  </div>
                  <div class="d-flex">
                      <span class="material-symbols-outlined">attach_money</span>
                      <p>每人</p>
                      <span>600元起</span>
                  </div>
                </div>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">child_care</span>
                    <p class="fs-Body-2">新手入門</p>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">factory</span>
                    <p class="fs-Body-2">場景逼真</p>
                  </div>
                </div>
                <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                  <span class="material-symbols-outlined">factory</span>
                  <p class="fs-Body-2">場景逼真</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="d-flex flex-column bg-white rounded-10 p-5">
                <img src="../assets/images/sergio-alves.png" alt="" class="rounded-7 mb-3">
                <h3 class="card-title fw-bold fs-h6">利維得酒吧</h3>
                <p class="fs-Body-1 mb-3 text-nature-40">新北市</p>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2;gap: 4px;">
                      <img src="../assets/images/icon/star.png" alt="" style="width: 16px;height: 16px;">
                      <p>4.9</p>
                  </div>
                  <div class="d-flex">
                      <span>4,055</span>
                      <p>人評價</p>
                  </div>
                </div>
                <div class="d-flex mb-3" style="gap: 8px;">
                  <div class="d-flex align-items-center pe-3" style="border-right: 1px solid #CCC5C2; gap: 6px;">
                    <img src="../assets/images/icon/person.png" alt="" style="width: 16px;height: 16px;">
                    <p>2-4人</p>
                  </div>
                  <div class="d-flex">
                      <span class="material-symbols-outlined">attach_money</span>
                      <p>每人</p>
                      <span>600元起</span>
                  </div>
                </div>
                <div class="d-flex mb-2" style="gap: 8px;">
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">child_care</span>
                    <p class="fs-Body-2">新手入門</p>
                  </div>
                  <div class="d-flex bg-nature-95 rounded-4 py-1 px-3" style="gap: 4px;">
                    <span class="material-symbols-outlined">factory</span>
                    <p class="fs-Body-2">場景逼真</p>
                  </div>
                </div>
                <div class="d-flex bg-nature-95 rounded-4 py-1 px-3 align-self-start" style="gap: 4px;">
                  <span class="material-symbols-outlined">factory</span>
                  <p class="fs-Body-2">中度玩家</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!--index new project-->
    <!--index comment-->
    <div class="index-comment bg-white">
      <div class="container">
        <h2 class="fw-bold text-center fs-8 mb-12">網友評論</h2>
        <div class="row justify-content-center gap-6">
          <div class="col-4">
            <div class="index-comment-item">
              <img src="../assets/images/muhammad-haikal.png" alt="" style="border-radius: 40px 40px 0 0;">
              <div class="index-comment-text p-6 bg-nature-95" style="border-radius: 0 0 40px 40px">
                <h3 class="fs-h6 fw-bold mb-3">秦閣</h3>
                <div class="d-flex mb-3 gap-3">
                  <img src="../assets/images/erik-lucatero.png" alt="" class="rounded-circle object-fit-cover" style="width: 40px;height: 40px;">
                  <p class="text-nature-40">王小明</p>
                </div>
                <p class="fs-Body-2">我們是遊玩雙線，劇情很豐富，前面會先各自解然後再交換，隨藏題目真的偏雞，因為提早解完，小天使有瓖我們回去解隱藏任務，整體體驗很不錯</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="index-comment-item">
              <img src="../assets/images/vlad-hilitanu.png" alt="" style="border-radius: 40px 40px 0 0;" class="w-100">
              <div class="index-comment-text p-6 bg-nature-95" style="border-radius: 0 0 40px 40px">
                <h3 class="fs-h6 fw-bold mb-3">等一個人・盜墓</h3>
                <div class="d-flex mb-3 align-items-center gap-3">
                  <img src="../assets/images/comment1.png" alt="" class="rounded-circle object-fit-cover" style="width: 40px;height: 40px;">
                  <p class="text-nature-40">貓咪</p>
                </div>
                <p class="fs-Body-2">首先進去踩下去的第一個場景真的覺得太不可思議馬上就懂為什麼需要脫模子。從第一個肆題就覺得很有巧思，，而後進入到古墓更覺得很不可思議，除了空間轉換真的讓我們玩案⋯</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="index-comment-item">
              <img src="../assets/images/roonz-nl.png" alt="" style="border-radius: 40px 40px 0 0;">
              <div class="index-comment-text p-6 bg-nature-95" style="border-radius: 0 0 40px 40px">
                <h3 class="fs-h6 fw-bold mb-3">咒雨</h3>
                <div class="d-flex mb-3 gap-3">
                  <img src="../assets/images/ayo-ogunseinde.png" alt="" class="rounded-circle object-fit-cover" style="width: 40px;height: 40px;">
                  <p class="text-nature-40">Squirrel</p>
                </div>
                <p class="fs-Body-2">年度必玩之作坦真的很厲害，很好玩～~～
                  日式場景逼真好看，機關小巧有趣，翠題好玩可愛，，而且和劇情結合的很好，劇情深植人心，視覺效果一級棒很有質惑，氣氛....</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="index-comment-item">
              <img src="../assets/images/omer-haktan.png" alt="" style="border-radius: 40px 40px 0 0;">
              <div class="index-comment-text p-6 bg-nature-95" style="border-radius: 0 0 40px 40px">
                <h3 class="fs-h6 fw-bold mb-3">錦衣御行</h3>
                <div class="d-flex mb-3 align-items-center gap-3">
                  <img src="../assets/images/comment2.png" alt="" class="rounded-circle object-fit-cover" style="width: 40px;height: 40px;">
                  <p class="text-nature-40">臻</p>
                </div>
                <p class="fs-Body-2">場景跟特效超讚 但劇情比較沒有驚豔感
                  有幾個間的玩法提有趣的大約4-6個人就好
                  然後彩蛋挺雞的</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--index comment-->


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
    <!-- <script>
        var swiper1 = new Swiper(".mySwiper1", {
            slidesPerView: 4,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
        
    </script> -->
</body>
</html>
