<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="main">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem itaque ipsum quis, at debitis alias dolore eius velit necessitatibus, tempora deserunt aut laborum veniam laudantium corporis. Veritatis perspiciatis soluta atque.
      Natus cumque, rerum earum, corporis pariatur quod, dolore ipsum ducimus obcaecati cupiditate ipsa. Obcaecati nam exercitationem culpa ab quae rem, accusantium assumenda esse nostrum perspiciatis quibusdam fugiat voluptatibus repellat eos?
      Harum recusandae dolor soluta adipisci numquam praesentium? Dolorum sit consequatur ducimus excepturi unde incidunt. Nostrum, quam ut. Ad eligendi obcaecati sit, facere reiciendis inventore iste officiis nihil porro amet commodi.
      Dolorem fuga repellendus veniam earum enim, deserunt ex ratione, laborum eveniet laboriosam mollitia! Adipisci numquam explicabo ab nostrum quasi in, sunt hic nobis ut quia earum voluptates consequatur pariatur libero.
      Alias dolor voluptates earum aspernatur quasi in sequi ratione corrupti nulla, sit, quibusdam laudantium dolorum omnis soluta iusto natus nisi atque dolores eum aperiam. Deleniti possimus sequi mollitia fugit quae?
      Veniam corporis quo rerum. Ad odit facilis, exercitationem facere sint cumque pariatur ipsa esse deleniti sapiente ab hic similique consequuntur numquam minus fugit obcaecati, quae, error voluptate blanditiis rerum dolorem.
      Sunt quaerat consequuntur obcaecati quibusdam blanditiis corrupti quis, officia asperiores voluptatem autem ut, quod velit animi praesentium. Minima a debitis ipsam commodi laborum sed aut. Beatae minima atque quas rerum.
      Commodi facilis aliquam voluptatem? Nihil, et tempora laboriosam velit id ipsam aspernatur quis repellendus provident quo deleniti nemo dolor. Nulla incidunt ut dolorem nam minus illo provident quia a accusantium?
      Repudiandae labore asperiores natus doloribus quae pariatur. Provident unde id expedita quis rerum inventore, perspiciatis nemo ut nisi, illo sed sequi. Neque vero quia ipsa voluptas quo? Voluptate, consequuntur est.
      Adipisci laboriosam quaerat eaque impedit dignissimos officiis, sequi perspiciatis dolore doloribus recusandae est hic consequatur, soluta ipsa molestias laborum tempore. Magni praesentium ullam eius quidem incidunt atque? Ullam, nesciunt dolor.
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
