<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>contact</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<div class="banner">
			<picture>
				<source
					media="(min-width: 992px)"
					srcset="../assets/images/illustration/Banner-1.svg" />
				<img
					src="../assets/images/illustration/Banner-3.svg"
					alt="banner"
					class="w-100" />
			</picture>
		</div>
		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
